<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1}]')
  Dashing.widget_base_dimensions = [1920-40, 1080-40]
  Dashing.numColumns = 1
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Queue wait time" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
</div>
